Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.ptc.vuforia.engine@e85fe9ec9155-1632536113000/Vuforia/Plugins/iOS/VuforiaEngine.framework/VuforiaEngine filter=lfs diff=lfs merge=lfs -text
Packages/com.ptc.vuforia.engine-10.2.5.tgz filter=lfs diff=lfs merge=lfs -text
